<ul id="nav">
  <li>
    <a routerLink="/trip-list" routerLinkActive="active">Voyages</a>
    <ul>
      <li>
        <a routerLink="/trip-list" routerLinkActive="active">Liste des voyages</a>
      </li>
      <li>
        <a routerLink="/trip-create" routerLinkActive="active">Création d'un voyage</a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/user-list" routerLinkActive="active">Utilisateur</a>
  </li>
  <li>
    <a routerLink="/car-list" routerLinkActive="active">Voiture</a>
    <ul>
      <li>
        <a routerLink="/car-list" routerLinkActive="active">Liste de voitures</a>
      </li>
      <li>
        <a routerLink="/car-create" routerLinkActive="active">Création d'une voiture</a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/city-list" routerLinkActive="active">Ville</a>
  </li>
</ul>
