<h2 class="titre">Liste des voitures</h2>

<div *ngFor="let car of cars" (click)="onSelect(car)" class="car">
  <div>Voiture : {{ car.id }}</div>
  <div>model: {{ car.model | uppercase }}</div>
  <div>Marque : {{ car.brand }}</div>
  <div>Nombre de places : {{ car.numberOfPlaces }}</div>
</div>

<div *ngIf="popup">
  <!-- Je passe à car-detail l'objet car contenant la voiture selectionnée 
    et je dis à car-list d'écouter l'évenement onPopup de l'enfant car-detail -->
  <app-car-detail [car]="selectedCar" (onPopup)="closePopup($event)"></app-car-detail>
</div>

<!-- 2-Ways Data Binding -->
<!-- <input [(ngModel)]="car.model" /> -->